@model IEnumerable<ProIcuc.Models.Academics.Program>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Faculty.FacultyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FacultyDepartment.FacultyDepartmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProgramName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProgCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mincredit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.abbrev)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Faculty.FacultyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FacultyDepartment.FacultyDepartmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProgramName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProgCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mincredit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.abbrev)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProgramID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProgramID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProgramID })
        </td>
    </tr>
}

</table>
