@model ProIcuc.Models.Academics.CourseAllocation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CourseAllocation</h4>
    <hr />
    <dl class="dl-horizontal">
        

        <dt>
           Lecturer
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff.StaffName)
        </dd>
        <dt>
            Course
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.CourseName)
        </dd>
        <dt>
            Credit Units
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.CreditUnits)
        </dd>
        <dt>
            Contact Hours
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.ContactHours)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CourseAllocationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
