@model IEnumerable<ProIcuc.Models.Academics.CourseAllocation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Lecturer
        </th>
        <th>
            Course
        </th>
        <th>
            Credit Units
        </th>
        <th>
            Contact Hours
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Staff.StaffName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course.CreditUnits)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course.ContactHours)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CourseAllocationID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CourseAllocationID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CourseAllocationID })
        </td>
    </tr>
}

</table>
