@model ProIcuc.Models.Examination.CourseWork

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CourseWork</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assignment1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assignment1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OutOfAs1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OutOfAs1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assignment2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assignment2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OutOfAs2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OutOfAs2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assignment3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assignment3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OutOfAs3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OutOfAs3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Test1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Test1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OutOfTs1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OutOfTs1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Test2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Test2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OutOfTs2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OutOfTs2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseWorkRatio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseWorkRatio)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
