@model ProIcuc.Models.HumanResource.SalaryScale

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SalaryScale</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SalaryScaleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalaryScaleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalaryAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalaryAmount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SalaryScaleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
