@model IEnumerable<ProIcuc.Models.HumanResource.SalaryScale>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SalaryScaleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalaryAmount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SalaryScaleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalaryAmount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SalaryScaleID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SalaryScaleID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SalaryScaleID })
        </td>
    </tr>
}

</table>
