@model IEnumerable<ProIcuc.Models.Academics.Faculty>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FacultyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FacultyCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Abbrev)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelNo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FacultyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FacultyCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Abbrev)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelNo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FacultyID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FacultyID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FacultyID })
        </td>
    </tr>
}

</table>
