@model ProIcuc.Models.Applications.Preference

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Preference</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Applicant.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Applicant.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModeOfStudy.ModeOfStudyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModeOfStudy.ModeOfStudyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Program.ProgramName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Program.ProgramName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Choice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Choice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PreferenceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
