@model ProIcuc.Models.Examination.Student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Applicant.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Applicant.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacultyDepartment.FacultyDepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacultyDepartment.FacultyDepartmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModeOfStudy.PreferenceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModeOfStudy.PreferenceId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Program.ProgramName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Program.ProgramName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacultyID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacultyID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
